@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* Momentum scrolling on iOS */
}

/* Optimize scrolling performance */
body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-dark);
}

:root {
  --color-primary: #748758;
  --color-primary-light: #859a65;
  --color-primary-dark: #556340;
  --color-primary-darker: #3d472e;
  --color-accent: #b1bf9c;
  --color-surface: #dde3d4;
  --color-background: #eef3e8;
  --color-text: #303030;
  --color-border: #dbdbdb;
}

.button {
  background: linear-gradient(to right,
      var(--color-primary),
      var(--color-primary-dark));
  color: #fff;
  padding: 0.625rem 1rem;
  border-radius: 9999px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.3s,
    transform 0.3s,
    background-image 0.3s;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.button:hover {
  background: linear-gradient(to right,
      var(--color-primary-dark),
      var(--color-primary-darker));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

@layer base {
  html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}