@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

/* Ensure Tailwind CSS is loaded */
body {
  font-family: "Montserrat", sans-serif;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background-color: #00aaff; /* Blue thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0077cc; /* Darker blue on hover */
}

/* Firefox scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #00aaff #f1f1f1; /* Thumb and track colors */
}

/* Ensure overflow and max-height for scrollable sub-menu */
.scrollable-submenu {
  max-height: 240px; /* Adjust this based on the design */
  overflow-y: auto;
}

.button {
  background: linear-gradient(
    to right,
    #2563eb,
    #1d4ed8
  ); /* blue-600 to blue-700 */
  color: #fff;
  padding: 0.625rem 1rem; /* py-2.5 px-4 */
  border-radius: 9999px; /* rounded-full */
  font-weight: 500; /* font-medium */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition:
    box-shadow 0.3s,
    transform 0.3s,
    background-image 0.3s; /* transition-all duration-300 */
  display: flex;
  align-items: center;
  gap: 0.375rem; /* gap-1.5 */
}

.button:hover {
  background: linear-gradient(
    to right,
    #1d4ed8,
    #1e40af
  ); /* hover:from-blue-700 hover:to-blue-800 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* hover:shadow-lg */
  transform: scale(1.05); /* hover:scale-105 */
}
